<div class="attacks-box text-body" *ngIf="!combatEngine.finished">
  <div class="list-group" *ngIf="!combatEngine.initiating; else pleaseWait">
    <ng-template [ngIf]="(combatEngine.player?.moves?.length || 0) > 0 && (combatEngine.opponent?.moves?.length || 0) > 0" [ngIfElse]="notValidCombat">
      <ng-template ngFor let-move [ngForOf]="combatEngine.player?.moves" >
        <button type="button"
          [disabled]="!combatEngine.playerHasTurn || combatEngine.finished"
          class="list-group-item list-group-item-action list-group-item-dark"
          (click)="onAttackClick(move)">
          {{ move.localizedName }}
        </button>
      </ng-template>
    </ng-template>
    <ng-template #notValidCombat>
      <div class="alert alert-warning m-0">
        {{ 'not_valid_combat' | translate }} <button type="button" class="btn btn-sm btn-warning" (click)="onReload()">{{ 'reload' | translate }} </button>
      </div>
    </ng-template>
  </div>
  <ng-template #pleaseWait>
    <div class="alert alert-light m-0">
      <span class="d-flex align-items-center">
        <span class="spinner-border spinner-border-sm p-1" role="status">
          <span class="sr-only"></span>
        </span>
        <strong class="ml-2">{{ 'please_wait' | translate }}</strong>
      </span>
    </div>
  </ng-template>
</div>
<div class="attacks-box text-body" *ngIf="combatEngine.finished">
  <button type="button" class="btn btn-lg btn-block btn-warning rounded-0" (click)="onReload()">{{ 'reload' | translate }} </button>
</div>