.battlefield {
  border: 2px solid #556B2F;
  background: green;
  width: 800px;
  height: 480px;
  background-image: url("/assets/images/battlefield.png");
  position: relative;

  .battlefield-caption {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 34px;
    line-height: 34px;
    padding: 0 1rem;
    background: rgba(85, 107, 47, 0.8);
    border: 2px solid #556B2F;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
  }

  .player {
    position: absolute;
    bottom: 80px;
    left: 160px;
  }

  .player-details {
    background: #FFFACD;
    border: 4px solid #556B2F;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;

    &.damage {
      animation: damage 300ms 2 alternate;
    }
  }

  .opponent {
    position: absolute;
    top: 200px;
    right: 200px;
  }
  
  .player-details.opponent-details {
    bottom: auto;
    left: auto;
    top: 160px;
    right: 60px;
  }
}

@keyframes damage {
  from {background-color: #FFFACD;}
  to {background-color: #F08080; }
}