<h1>Arena HTML Page</h1>

<div class="d-flex w-100">
  <div class="poition-relative">
    <div class="battlefield text-body">
      <countdown *ngIf="showCountdown" (ready)="onCountdownReady()"></countdown>
      <game-result-panel [player]="combatEngine.player" *ngIf="combatEngine.finished"></game-result-panel>
      <div class="battlefield-caption" [class.d-none]="!combatEngine.initiated">
        <span *ngIf="combatEngine.playerHasTurn">{{ 'player_has_turn' | translate }}</span>
        <span *ngIf="!combatEngine.playerHasTurn">{{ 'opponent_has_turn' | translate }}</span>
      </div>
      <div class="player" *ngIf="combatEngine.player">
        <img #player [src]="combatEngine.player.pokemon.sprites.back">
      </div>
      <div #playerDetail class="player-details" *ngIf="combatEngine.player">
        <span class="text-truncate">{{ combatEngine.player.pokemon.name }}</span>
        <span [style.minWidth.px]="70">{{ combatEngine.player.level }} / {{ combatEngine.player.maxLevel }}</span>
      </div>
      <div class="opponent" *ngIf="combatEngine.opponent">
        <img #opponent [src]="combatEngine.opponent.pokemon.sprites.front">
      </div>
      <div #opponentDetail class="player-details opponent-details" *ngIf="combatEngine.opponent">
        <span class="text-truncate">{{ combatEngine.opponent.pokemon.name }}</span>
        <span [style.minWidth.px]="70">{{ combatEngine.opponent.level }} / {{ combatEngine.opponent.maxLevel }}</span>
      </div>
    </div>
    <move-picker
      [combatEngine]="combatEngine"
      (reloadClick)="onReload()"
      (attackClick)="onAttackClick($event)">
    </move-picker>
  </div>
  <div class="flex-grow-1">
    <ranking-table [userId]="userId" [style.height.px]="680"></ranking-table>
  </div>
</div>