
html,
body {
  position: fixed!important;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  touch-action: pan-y;

  &, &.light {
    background: #F5F5F5;
    background: linear-gradient(
      to bottom,
      #F5F5F5 0,
      #f8f9fa 100%);
  }

  &.dark {
    background: #333;
    background: linear-gradient(
      to bottom,
      #333 0,
      #444 100%);

    color: #F5F5F5;
  }
}

input.ng-dirty.ng-invalid {
  border-color:orangered;
}